.career {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.career .section-name {
    font-size: 2rem;
    font-family: "Libre Baskerville";
    margin-bottom: 1.875rem;
    text-align: center;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 80%;
    left: 10%;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 0.25rem;
    height: 0;
    background-color: #3c3c3c;
    border-radius: 0.625rem;
    top: 0;
    left: calc(50% - 0.125rem);
    box-shadow: 0.625rem 0.625rem 0.313rem gray;
    z-index: -1;
}

.timeline.active::after {
  animation: moveline 1s linear forwards;
}

.time-stop {
    transform: translateY(3rem);
    font-size: 0;
    transition: font-size 0.2s ease-out;
    text-shadow: 0.625rem 0.625rem 0.313rem gray;
    color: #3c3c3c;
    line-height: 0;
}

.time-stop.active {
    font-size: 2.5rem;
}


@keyframes moveline{
    0%{height: 0;}
    100%{height: 100%;}
}

.timeline .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(45vw - 3.125rem);

}

.timeline .content-right,
.timeline .content-left{
    display: flex;
    flex-direction: column;
    padding: 1.25rem 1.875rem;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 0.375rem;
    background-color: #dadada;

    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
}
.container .content-right {
    box-shadow: 0.313rem 0.313rem 0.188rem rgb(147, 147, 147);
    transform: translateX(-100vw);
}

.container .content-left {
    box-shadow: -0.313rem 0.313rem 0.188rem rgb(147, 147, 147);
    transform: translateX(100vw);
}

.timeline .content-right.active {
  transform: translateX(calc(50% + 3.125rem));
}

.timeline .content-left.active {
  transform: translateX(calc(-50% - 3.125rem));
}

.right-content-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 1.9rem;
    z-index: 1;
    border-top: 1.25rem solid transparent;
    border-bottom: 1.25rem solid transparent;
    border-right: 1.25rem solid #dadada;
    left: -0.813rem;
}

.left-content-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 1.9rem;
    z-index: 1;
    border-top: 1.25rem solid transparent;
    border-bottom: 1.25rem solid transparent;
    border-left: 1.25rem solid #dadada;
    right: -0.813rem;
}






.timeline .period {
    margin-top: 0.313rem;
    padding-bottom: 0.625rem;
    color: rgb(134, 134, 134);
    border-bottom: 0.063rem solid black;
}

.timeline .details,
.timeline .details a {
    margin-top: 0.625rem;
    color: rgb(134, 134, 134);
}


@media (max-width: 50rem){
    .timeline::after {
        left: 0;
    }
    .container .content-left {
        transform: translateX(-100vw);
    }

    .timeline .content-right.active {
        transform: translateX(calc(1.875rem));

    }
    .timeline .content-left.active {
        transform: translateX(calc(1.875rem));
    }

    .time-stop {
        position: absolute;
        transform: translateY(3rem);
        left: -0.65rem;
    }

    .timeline{
        align-items: flex-start;
        gap: 2rem;
    }
    .left-content-arrow {
        border-right: 1.25rem solid #dadada;
        border-left: none;
        left: -0.813rem;
    }
    .timeline .container {
        max-width: none;
        margin-right: 1rem;
    }
}