.career {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 100px;
    padding-bottom: 100px;
}

.career .section-name {
    font-size: 40px;
    font-family: "Libre Baskerville";
    margin-bottom: 30px;
    text-align: center;
}

.timeline {
  position: relative;
  max-width: 80%;
  left: 10%;
}

.timeline .container {
    position: relative;
    width: 50%;
}

.timeline .content{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    padding: 20px 30px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 0px 10px #1e6597;

    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}
.container.right .content {
    transform: translateX(-100vw);
}

.container.left .content {
    transform: translateX(100vw);
}

.timeline .content.active {
  transform: translateX(0);
}

.timeline .left {
    left: 0px;
}

.timeline .right {
    left: 50%;
}

.time-stop {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 0px;
    transition: font-size 0.2s ease-out, right 0.2s ease-out, left 0.2s ease-out;
    text-shadow: 0px 0px 10px #1e6597;
    color: #0f3149;
}

.time-stop.active {
    font-size: 60px;
    right: -21px;
}

.timeline .right .time-stop {
    left: 0px;
}

.timeline .right .time-stop.active {
    left: -15px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 0;
    background-color: #0f3149;
    box-shadow: 0px 0px 10px #1e6597;
    border-radius: 10px;
    top: 0;
    left: 50%;
    z-index: -1;
}

.timeline.active::after {
  animation: moveline 1s linear forwards;
}

@keyframes moveline{
    0%{height: 0;}
    100%{height: 100%;}
}

.timeline .company-name {

}
.timeline .period {
    margin-top: 5px;
    padding-bottom: 10px;
    color: rgb(134, 134, 134);
    border-bottom: 1px solid black;

}
.timeline .details {
    margin-top: 10px;
}


@media (max-width: 800px){
    .timeline {
        max-width: 98%;
        left: 1%;
    }

}