.contact {
    text-align: center;
    background-color: lightblue;
    color: white;
    background-color: #081b29;
    padding-top: 1.875rem;
    scroll-margin-top:3.125rem;
    box-shadow: 0 -0.313rem 0.313rem #081b29;
    margin-top:3.125rem;
}

.find-me-head {
    font-size: 1.125rem;
    margin-bottom: 1.875rem;
}

.find-me-info {
    line-height: 1.875rem;
}


.city {
    margin-top:3.125rem;
}

.map {
    width: 60%; 
    height: 21.875rem; 
    border: 0.063rem solid black;
    left: 50%;
    transform: translate(-50%,0);
}

.contact a,
.contact a:hover,
.contact a:active,
.contact a:visited {
    color: rgb(145, 226, 255);
    text-decoration: none;
}

.contact a:hover {
    color: white;
}

.copyright {
    font-size: 0.75rem;
    margin-top: 0.625rem;
}