body, html {
  overflow-x: clip;
}
body {
    font-family: "Roboto", Arial;
    margin: 0;
    background-color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

