

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background: linear-gradient(0.15turn, #000b13 55%, #081b29 57%);
    color: white;
    padding: 9.375rem 0 6.25rem 0;
    box-shadow: 0 0.313rem1.25rem #1e6597;
    z-index: 9;
}

.about-me {
    display: flex;
    flex-direction: column;
    max-width: 37.5rem;
    padding-left:3.125rem;
}


.about-me .intro-head {
    font-size: 2.5rem;
    margin-bottom:1.25rem;
}


.about-me .body {
    line-height: 1.563rem;
}


.intro-profession {
    color: #3badff;
    font-size: 1.875rem;
    margin-bottom:1.25rem;
    font-weight: bold;
}

.intro img {
    width: 12.5rem;
    border-radius: 6.25rem;
    box-shadow: 0 0 2.5rem #2573ab;
}

.intro .image {
    padding-left: 6.25rem;
    padding-right:3.125rem;
}




@media (max-width: 65.625rem){
    .about-me {
        width: 34.375rem;
    }
}

@media (max-width: 59.375rem){
    .about-me {
        width: 28.125rem;
    }
}


@media (max-width: 50rem){
    .intro {
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 6.25rem;
        background: none;
        background-color: #000b13; 
    }
    .intro .image {
        position: static;
        left: auto;
    }
    .intro .intro-head {
        margin-top:3.125rem;
    }
    .about-me {
        text-align: center;
        width: auto;
        justify-content: center;
    }
    .about-me .body {
        padding-top: 1.875rem;
        width: auto;
    }
}