

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background: linear-gradient(0.15turn, #000b13 55%, #081b29 57%);
    color: white;
    padding: 9.375rem 0 6.25rem 0;
    box-shadow: 0 0.313rem1.25rem #1e6597;
    z-index: 9;
}

.about-me {
    display: flex;
    flex-direction: column;
    max-width: 37.5rem;
    padding: 0 3.125rem 0 3.125rem;
}


.about-me .intro-head {
    font-size: 2.5rem;
    margin-bottom:1.25rem;
}


.about-me .body {
    line-height: 1.563rem;
}


.intro-profession {
    color: #3badff;
    font-size: 1.875rem;
    margin-bottom:1.25rem;
    font-weight: bold;
}

.intro img {
    width: 12.5rem;
    border-radius: 6.25rem;
    box-shadow: 0 0 2.5rem #2573ab;
}

.intro .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
}

.intro-contact {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.intro-contact div {
    position: relative;
    font-size: 1.7rem;
    border-radius: 999rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color:#113b59;
}
.intro-contact div:hover {
    opacity: 0.7;
}

.intro-contact a {
    color: #2e92da;
}
.intro-contact div span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}





@media (max-width: 65.625rem){
    .about-me {
        width: 34.375rem;
    }
}

@media (max-width: 59.375rem){
    .about-me {
        width: 28.125rem;
    }
}


@media (max-width: 50rem){
    .intro {
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 6.25rem;
        background: none;
        background-color: #000b13; 
    }
    .intro .image {
        position: static;
        left: auto;
    }
    .intro .intro-head {
        margin-top:1.6rem;
    }
    .about-me {
        text-align: center;
        width: auto;
        justify-content: center;
    }
    .about-me .body {
        padding-top: 1.875rem;
        width: auto;
    }
    .intro-contact div {
        background-color:#0c2c43;
    }
    .intro-contact a {
        color: #2a83c2;
    }

}