

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background: linear-gradient(0.15turn, #000b13 55%, #081b29 57%);
    color: white;
    padding: 150px 0px 100px 0px;
    box-shadow: 0px 5px 20px #1e6597;
    z-index: 9;
}

.about-me {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding-left: 50px;
}


.about-me .intro-head {
    font-size: 2.5rem;
    margin-bottom: 20px;
}


.about-me .body {
    line-height: 25px;
}


.intro-profession {
    color: #3badff;
    font-size: 1.875rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.intro img {
    width: 200px;
    border-radius: 100px;
    box-shadow: 0px 0px 40px #2573ab;
}

.intro .image {
    padding-left: 100px;
    padding-right: 50px;
}




@media (max-width: 1050px){
    .about-me {
        width: 550px;
    }
}

@media (max-width: 950px){
    .about-me {
        width: 450px;
    }
}


@media (max-width: 800px){
    .intro {
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 100px;
        background: none;
        background-color: #000b13; 
    }
    .intro .image {
        position: static;
        left: auto;
    }
    .intro .intro-head {
        margin-top: 50px;
    }
    .about-me {
        text-align: center;
        width: auto;
        justify-content: center;
    }
    .about-me .body {
        padding-top: 30px;
        width: auto;
    }
}