

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(0.15turn, #000b13 53%, #081b29 55%);
    color: white;
    padding: 150px max(calc(100vw - 1250px), 50px) 100px max(calc(100vw - 1250px), 50px);
    box-shadow: 0px 5px 20px #1e6597;
    z-index: 9;
}

.about-me {
    display: flex;
    flex-direction: column;
    width: 650px;
}


.about-me .intro-head {
    font-size: 40px;
    margin-bottom: 20px;

    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    transform: translateX(100px);
    opacity: 0;
}

.about-me .intro-head.active {
    transform: translateX(0);
    opacity: 1;
}

.about-me .body {
    line-height: 25px;
    width: calc(100% - 100px);

    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    transform: translateX(100px);
    opacity: 0;

}

.about-me .body.active {
    transform: translateX(0);
    opacity: 1;
}

.intro img {
    width: 200px;
    border-radius: 100px;
    box-shadow: 0px 0px 40px #2573ab;
}

.intro .image {
    position: absolute;
    left: 65vw;

    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    transform: translateX(100px);
    opacity: 0;
}

.intro .image.active {
    transform: translateX(0);
    opacity: 1;
}


@media (max-width: 1050px){
    .about-me {
        width: 550px;
    }
}

@media (max-width: 950px){
    .about-me {
        width: 450px;
    }
}


@media (max-width: 800px){
    .intro {
        flex-direction: column;
        justify-content: center;
        padding-top: 100px;
    }
    .intro .image {
        position: static;
        left: auto;
    }
    .intro .intro-head {
        margin-top: 50px;
    }
    .about-me {
        text-align: center;
        width: auto;
    }
    .about-me .body {
        padding-top: 30px;
        width: auto;
    }
}