
:root {
    --nav-bar-color: white;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
    padding: 20px 300px 20px 300px;
    font-size: 20px;
    background-color: none;
    cursor: default;
    color: var(--nav-bar-color);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.05); /* semi-transparent */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* Safari support */
    transition: color 0.15s;
    box-shadow: 0px 0px 10px black;
}

.nav-bar div {
    position: relative;
}

.nav-bar div::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: var(--nav-bar-color);
    transition: all 0.10s ease;
    transform: translateX(-50%);
}

.nav-bar div:hover::after {
    width: 100%;
}



@media (max-width: 1050px){
    .nav-bar {
        padding: 20px 220px 20px 220px;

    }
}

@media (max-width: 950px){
    .nav-bar {
        padding: 20px 160px 20px 160px;

    }
}

@media (max-width: 800px){
    .nav-bar {
        padding: 20px 100px 20px 100px;

    }
}

@media (max-width: 700px){
    .nav-bar {
        padding: 20px 50px 20px 50px;

    }
}