
:root {
    --nav-bar-color: white;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height:1.5rem;
    padding:1.25rem 0 1.25rem 0;
    font-size: 1.25rem;
    background-color: none;
    cursor: default;
    color: var(--nav-bar-color);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.05); /* semi-transparent */
    backdrop-filter: blur(1.25rem);
    -webkit-backdrop-filter: blur(1.25rem); /* Safari support */
    transition: color 0.15s;
    box-shadow: 0 0 0.625rem black;
}

.nav-bar div {
    position: relative;
}

.nav-bar div::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -0.313rem;
    width: 0;
    height: 0.063rem;
    background-color: var(--nav-bar-color);
    transition: all 0.10s ease;
    transform: translateX(-50%);
}

.nav-bar div:hover::after {
    width: 100%;
}



