.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.125rem;
    scroll-margin-top: 3.25rem;
    margin: 0px 2rem;
}

.projects .section-name {
    font-size: 2rem;
    font-family: "Libre Baskerville";
    margin-bottom: 1.875rem;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    width: 100vw;
    gap: 5rem;
    padding:1.25rem 0 1.25rem 0;
    margin-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(#ffffff, #dddddd);
    box-shadow: 0 0.2rem 0.2rem rgb(130, 130, 130);
}



.project-image img {
    width: 100%;
    max-width: 35rem;
    min-width: 25rem;
    box-shadow: 0rem 0rem 2rem rgb(93, 93, 93);
}
.project-info {
    max-width: 25rem;
}



.project .title {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: center;
}



.project .description { 
    margin-top:1rem;
    font-size: 0.938rem;
    color: rgb(171, 171, 171);
    text-align: center;
}

.project .description a {
    color: rgb(171, 171, 171);
} 

.project .links { 
    margin-top:1rem;
    color: rgb(79, 147, 255);
    text-align: center;
}

.links a {
    color: rgb(79, 147, 255);
}

@media (max-width: 50rem) {
    .projects {
        margin: 0 1rem;
    }
    .project {
        flex-direction: column;
        gap: 2rem;
    }
    .project-image img {
        display: block;
        margin: auto;
        width: 90%;
        max-width: none;
        min-width: 0;
    }
}