.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:3.125rem;
    scroll-margin-top: 6.25rem;
    box-shadow: 0 -0.625rem 0.625rem -0.313rem #616161;
    margin: 0px 2rem;
}

.projects .section-name {
    font-size: 2rem;
    font-family: "Libre Baskerville";
    margin-bottom: 1.875rem;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    padding:1.25rem 0 1.25rem 0;
    border-bottom: 0.063rem solid black;
}



.project-image img {
    width: 100%;
    max-width: 35rem;
    min-width: 25rem;
    border: 1px solid black;
}
.project-info {
    max-width: 25rem;
}



.project .title {
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    text-align: center;
}



.project .authors { 
    margin-top:1rem;
    font-size: 0.938rem;
    color: rgb(134, 134, 134);
    text-align: center;
}

.project .doi { 
    margin-top:1rem;
    color: rgb(134, 134, 134);
    text-align: center;
}

.doi a {
    color: rgb(134, 134, 134);
}

@media (max-width: 50rem) {
    .project {
        flex-direction: column;
    }
}