.publications {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:3.125rem;
    scroll-margin-top: 6.25rem;
    box-shadow: 0 -0.625rem 0.625rem -0.313rem #616161;
}

.publications .section-name {
    font-size: 2rem;
    font-family: "Libre Baskerville";
    margin-bottom: 1.875rem;
}

.publication {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1.25rem 0 1.25rem 0;
    border-bottom: 0.063rem solid black;

    transform: translateY(3.125rem);
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.publication.active {
    transform: translateX(0);
    opacity: 1;
}

.publication .title {
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    text-align: center;
}



.publication .authors { 
    margin-top:1rem;
    font-size: 0.938rem;
    color: rgb(134, 134, 134);
    text-align: center;
}

.publication .doi { 
    margin-top:1rem;
    color: rgb(134, 134, 134);
    text-align: center;
}

.doi a {
    color: rgb(134, 134, 134);
}
