.publications {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    scroll-margin-top: 100px;
    box-shadow: 0px -10px 10px -5px #616161;
}

.publications .section-name {
    font-size: 2.5rem;
    font-family: "Libre Baskerville";
    margin-bottom: 30px;
}

.publication {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid black;

    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.publication.active {
    transform: translateX(0);
    opacity: 1;
}

.publication .title {
    font-size: 1.563rem;
    color: black;
    text-decoration: none;
    text-align: center;
}



.publication .authors { 
    margin-top: 20px;
    font-size: 0.938rem;
    color: rgb(134, 134, 134);
}

.publication .doi { 
    margin-top: 20px;
    color: rgb(134, 134, 134);
}

.doi a {
    color: rgb(134, 134, 134);
}
