

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    background-color: #081b29;
    color: white;
    padding: 150px 250px 100px 250px;
    box-shadow: 0px 5px 20px #1e6597;
    z-index: 9;
}

.about-me {
    display: flex;
    flex-direction: column;
    width: 650px;
}

.about-me .head {
    font-size: 40px;
    margin-bottom: 20px;
}

.about-me .body {
    line-height: 25px;
}

.intro img {
    width: 200px;
    border-radius: 100px;
    box-shadow: 0px 0px 40px #1e6597;
}

